@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  background-color: #b4b8c1;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;


}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}


.content h1 {
  margin: 0;
}

